@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Creating this information system is another step towards my childhood dream. Since childhood, I dreamed of opening my own coffee shop. And I hope my dream will come true soon.</p>
