@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Student of Technological College
    National University
    "Lviv Polytechnic"<br />
    Lviv, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +380507777777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Llike9750@gmail.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Llike9750@gmail.com">Marketing@gmail.com</a>
</address>